# Ignore datasets folder
datasets/
src/STL/
eval_results/
logs/
src/__pycache__/
.DS_Store
src/.DS_Store

# Ignore any file inside datasets folder
datasets/*
src/STL/*
eval_results/*
logs/*
src/__pycache__/*
